@model IEnumerable<ProyectoRestaurante.Models.Platillo>

@{
    ViewData["Title"] = "Index";
}

<h1>Portal de Ventas: Tienda</h1>

<p>
    <div>
        <a href="@Url.Action("IrAlCarrito", "Platillo")" class="btn btn-success">Ir al Carrito</a>
    </div>
                       
</p>
<table class="table">
    <thead>
        <tr>       
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
                <td>
                    <img src="@item.imagen" alt="Imagen del platillo" style="width: 100px; height: 100px;"/>
                </td>
               
                <td>
                   
                    <form asp-controller="Platillo" asp-action="Select" method="get">
                        <input type="hidden" name="id" value="@item.id" />
                        <button type="submit" class="btn btn-primary">Seleccionar</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
