@model IEnumerable<ProyectoRestaurante.Models.Platillo>

@{
    ViewData["Title"] = "Index";
}

<div class="banner" style="background-image: url('/imagenes/banner.png');width: 100%; height: 600px; background-size: cover;">
</div>

<p>
    <a asp-action="Carrito" class="btn btn-primary">Ver Carrito</a>
</p>
<table class="table">
    <thead>
        <tr>       
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
                <td>
                    <img src="@item.imagen" alt="Imagen del platillo" style="width: 100px; height: 100px;"/>
                </td>
                <td>
                    @Html.ActionLink("Agregar al carrito", "carrito", new { id = item.id }, new { @class = "btn btn-success" })

                    @Html.ActionLink("Select", "Select", new { id = item.id },
                             new { @class = $"btn {(item.stock == 0 ? "deshabilita" : "btn-primary btn-select")}" })
                </td>
               

        </tr>
}
    </tbody>
</table>
<br />
<h1 style="text-align:center">¡Conoce nuestro sabor único!</h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <a href="@Url.Action("Select", new { id = item.id })">
                    <div style="width: 100%; height: 300px; background-size: cover; background-image: url('@item.imagen');"></div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                    <p class="card-text">Precio: @Html.DisplayFor(modelItem => item.precio)</p>
                    <p class="card-text">Stock: @Html.DisplayFor(modelItem => item.stock)</p>
                    <a href="@Url.Action("Select", new { id = item.id })" class="btn btn-success">Seleccionar</a>
                </div>
            </div>
        </div>
    }
</div>