@model IEnumerable<ProyectoRestaurante.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
<!--definiendo la numeracion de la paginacion-->
<div>
    @for (int i = 0; i < (int)ViewBag.pags; i++)
    {
        <a asp-action="Productos" asp-route-p=@i
           class=@(i==(int)ViewBag.p ? "btn btn-success" : "btn btn-primary")>@(i + 1)</a>
    }
</div>
